.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Start  */

header {
    width: 100%;
    background-color: #111410;
}

.container {
    width: 92%;
    margin: auto;
}

.header-top {
    width: 100%;
    height: 42px;
    background-color: #111410;
}

.top-header {
    width: 100%;
    height: 43px;
    align-items: center;
    color: #ffffffab;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}

.top-right-header {
    width: 340px;
    display: flex;
    justify-content: space-between;

}

.top-right-header a {
    text-decoration: none;
    color: #ffffffab;
    font-size: 14px;
}

.main-header {
    width: 100%;
    height: 82px;
    background-color: #111410;
    outline: 1px solid #ffffffab;
}

.main-header img {
    width: 182px;
    height: 23px;
}

.header-row {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 30px 20px;
}

.menu li {
    display: inline;
    position: relative;
}
.menu a:hover {
    color: #ffae1e;
    padding: 32px 20px 27px 20px;
}
.menu span{
    content: "";
    width: 0;
    height: 4px;
    bottom: -32px;
    left: 0;
    position: absolute;
    opacity: 0;
}

.menu li:hover span{
    width: 100%;
    background-color: #ffae1e;
    opacity: 1;
    transition: all ease-in-out .5s;
}
.other-icons {
    width: 170px;
    height: 82px;
    align-content: center;
    word-spacing: 15px;
    cursor: pointer;
}

.fa-magnifying-glass {
    transform: rotate(90deg);
}
.header-icon{
    color: white;
}
.header-icon:hover{
    color: #ffae1e;
    transition: all ease-in-out .5s;
}
.shop {
    width: 98vw;
    height: 420px;
    margin-left: -293px;
    position: absolute;
    top: 49px;
    text-align: center;
    background-color: #111410;
    display: none;
}

.shop img {
    margin-top: 15px;
    width: 280px;
    height: 340px;
}

.shop p {
    width: 280px;
    height: 35px;
    background-color: #242424;
    align-content: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.shop p:hover {
    color: #ffae1e;
}

.menu li:hover .shop {
    display: flex;
    justify-content: space-around;
    z-index: 10000;
    transition: all ease-in-out .9s;
}

.pages {
    width: 150px;
    height: 80px;
    background-color: #000;
    position: absolute;
    top: 49px;
    z-index: 10000;
    left: 0;
    display: none;
}

.pages li {
    width: 150px;
    height: 40px;
    display: block;
    line-height: 35px;
    align-content: center;
}

.menu li:hover .pages {
    display: inline-block;
    border-left: 4px solid #ffae1e;
}

.bd {
    width: 150px;
    height: 40px;
    background-color: transparent;
    left: 146px;
    top: 5px;
    position: absolute;
    display: none;
}

.pages li:hover .bd {
    height: 40px;
    display: block;
    z-index: 10000;
    border-left: 4px solid #ffae1e;
}

/* Header End  */

/* All Collection Start  */

.all-collection-container{
    width: 100%;
    height: 310px;
    position: relative;
    background-image: url(../images/all\ collection-main.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
}
.all-collection-text{
    position: absolute;
    width: 100%;
    height: 310px;
    align-content: center;
    background-color: #0a040493;
}
.all-collection-text h3{
    width: 100%;
    height: 80px;
    color: white;
    margin: auto;
    align-content: center;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}
/* All Collection End  */

/* Tattoo Veriety Start  */
.tattoo-veriety{
    width: 100%;
    height: auto;
    background-color: #111410;
    padding-top: 100px;
    padding-bottom: 80px;
}
.tattoo-veriety-content{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.tattoo-style-items{
    width: 22%;
    height: auto;
    /* background-color: #242424; */
    margin: 15px;
}
.tattoo-item-img img{
    width: 100%;
    outline: 1px solid #545454;
}
.tattoo-item-text{
    width: 100%;
    height: auto;
    outline: 1px solid #545454;
    margin-top: -3px;
}
.tattoo-item-text h3{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
}
.tattoo-item-text a{
    text-decoration: none;
    color: #ffffff;
}
.tattoo-item-text a:hover{
    color: #ffae1e;
    transition: all ease-in-out .5s;
}
.tattoo-item-text p{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: #ffae1e;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 8px;
}
/* Tattoo Veriety Start  */

/* Footer content  */

footer{
    width: 100%;
    height: 450px;
    background-color: #111410;
    align-content: center;
    padding-top: 20px;
}
.footer-content{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
#logo {
    width: 260px;
    height: 32px;
}
.footer-ln-1 p{
    width: 550px;
    margin-top: 30px;
    font-size: 18px;
    color: #ffffffab;
}
#play-store{
    margin-top: 30px;
    margin-right: 10px;
}
#apple-store{
    width: 182px;
}
.footer-li li{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.footer-li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffffab;
    font-weight: 500;
}
.footer-li a:hover{
    color: #ffae1e;
    transition: all ease-in-out .4s;
}
.copy-right-container{
    width: 100%;
    outline: 1px solid #545454;
    margin-top: 50px;
}
.copy-right{
    width: 100%;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-right-1 p:hover{
    color: #ffae1e;
    transition: all ease-in-out .5s;
}

.copy-right-2 span:hover{
    color: #ffae1e;
    transition: all ease-in-out .5s;
}
.social-icon-footer i{
    width: 35px;
    height: 35px;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    outline: 1px solid #545454;
}
.social-icon-footer i:hover{
    outline: 1px solid #ffae1e;
    transition: all ease-in-out.5s;
}

/* Footer End  */